.user-info-block {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  padding: 10px 30px;
  color: steelblue;
  border: 2px solid grey;
  font-weight: 700;
  text-shadow: 1px 1px 2px black;
}
