.album-photo {
  margin: 5px;
  border: 2px solid grey;
  border-radius: 10px;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: lightblue;
  }

  .album-image {
    margin: 5px 10px;
  }
}
