.user-album {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  border: 2px solid steelblue;

  &:hover {
    cursor: pointer;
    border: 2px solid darkred;
  }

  .album-button {
    width: 300px;
    margin-bottom: 10px;
    padding: 5px 20px;
    font-size: 15px;
    text-align: center;
    color: whitesmoke;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
    background-color: steelblue;
    border: 2px solid grey;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: darkred;
      box-shadow: 0 0 5px 2px grey;
    }
  }
}
